body {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: #fafafa;

  .Main {
    position: absolute;
    margin: 0 auto;
    right: 30px;

    nav {
      position: relative;
      padding: 0 100px;
      border-bottom: solid 1px #dbdbdb;
      background-color: #fff;

      .navContainer {
        display: flex;
        height: 54px;
        width: 100%;
        justify-content: space-between;
        text-align: center;

        .title {
          font-family: 'Lobster', cursive;
          font-size: 30px;
          letter-spacing: 1px;
          line-height: 50px;
        }

        .search {
          display: flex;
          width: 300px;
          margin: 15px;
          padding: 0 25px;
          border-radius: 3px;
          border: solid 1px #dbdbdb;
          background-color: #fafafa;

          i {
            text-align: center;
          }

          input {
            width: 550px;
            background-color: #fafafa;
            border: 0px solid;
            text-align: center;
          }
        }

        .navIcons {
          display: flex;
          align-items: center;

          .expolreIcon,
          .heartIcon,
          .profileIcon {
            padding-left: 10px;
          }
        }
      }
    }

    .mainContentsWrapping {
      display: flex;
      padding: 30px 0 0;
      margin: 0 78.5px 20px 78.5px;
      background-color: #fafafa;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

      .leftContentsWrapping {
        width: 70%;
        margin-right: 10px;

        article {
          display: flex;
          flex-direction: column;
          height: 100px;
          width: 95%;
          margin-bottom: 30px;
          border-radius: 3px;
          border: solid 1px #dbdbdb;

          .updatedStory {
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 10px;
            height: 100%;

            .firstStory,
            .secondStory,
            .thirdStory {
              position: relative;
              margin-right: 80px;

              .storyBackground {
                position: absolute;
                border-radius: 110px;
              }

              .firstPerson,
              .secondPerson,
              .thirdPerson {
                position: absolute;
                margin-left: 2px;
                margin-top: 2px;
                border-radius: 110px;
                border: 2px solid white;
              }
            }
          }
          .namesOfUpdatedStory {
            display: flex;
            padding: 0 0 10px 10px;
            margin-right: 80px;
            flex-direction: row;
            color: #262626;
            font-size: 12px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
              Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
              sans-serif;

            .nameOfFirstStory,
            .nameOfSecondStory,
            .nameOfThirdStory {
              padding: 1px 10px 0 0;
            }
          }
        }

        .mainPost {
          width: 95%;
          background-color: #fff;
          border-radius: 3px;
          border: solid 1px #dbdbdb;

          .postHeader {
            display: flex;
            padding: 10px;
            justify-content: space-between;
            align-items: center;
            text-align: center;

            .userIdOnPost {
              display: flex;
              align-items: center;
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              font-size: 14px;

              img {
                margin-right: 10px;
                border-radius: 50px;
              }
            }
          }
          //  commment box시작

          .reponseFromFollowers {
            display: flex;
            padding: 4px 10px;
            justify-content: space-between;

            .iconsForResponse img {
              padding-right: 15px;
            }
          }
          .storyBox {
            padding: 0 20px;
            margin-bottom: 10px;
            border-top: solid 1px #dbdbdb;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
              'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 14px;

            .countingViews {
              margin: 10px 0;
              font-weight: 600;
            }

            .postDescription ul,
            .commentContainer ul {
              display: flex;
            }

            .newReplies {
              display: flex;
            }

            .uploadTime {
              margin: 10px 0;
              color: #8e8e8e;
              font-size: 12px;
            }
          }

          .commentsSpace {
            display: flex;
            padding: 19px;
            justify-content: space-between;
            border-top: solid 1px #dbdbdb;

            #commentInput {
              border-style: none;
              outline: none;
            }

            #submitButton {
              background-color: #fff;
              border-style: none;
              cursor: pointer;
            }
          }
        }
      }

      .rightContentsWrapping {
        display: flex;
        flex-direction: column;

        .rightContentBox {
          position: fixed;
          width: 20%;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

          aside {
            .myAccountClickButton {
              display: flex;
              padding-bottom: 20px;

              img {
                border-radius: 100px;
              }

              .showingMyAccount {
                padding-left: 13px;
                font-size: 14px;

                p {
                  margin: 0;
                }
              }
            }

            .suggestionForYou {
              display: flex;
              justify-content: space-between;
              font-size: 14px;

              .loginBtn {
                border: none;
                background-color: #fafafa;
                color: #0096f6;
                font-size: 14px;
                cursor: pointer;
              }
            }

            .firstSuggestion {
              display: flex;
              justify-content: space-between;
              padding-bottom: 10px;

              .wrappingFirstSuggestion {
                display: flex;
                flex-direction: row;

                img {
                  margin: 20px 10px 0 0;
                  border-radius: 30px;
                }

                .userNameOfFirstSuggestion {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  padding: 2px;

                  p {
                    margin-bottom: 3px;
                  }

                  .numberOfCommonFriends {
                    color: #aeaeae;
                    font-size: 12px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                      'Helvetica Neue', sans-serif;
                  }
                }
              }

              button {
                border: none;
                background-color: #fafafa;
                color: #0096f6;
                font-size: 14px;
                cursor: pointer;
              }
            }

            .secondSuggestion {
              display: flex;
              justify-content: space-between;
              padding-bottom: 10px;

              .wrappingSecondSuggestion {
                display: flex;
                flex-direction: row;

                img {
                  margin: 20px 10px 0 0;
                  border-radius: 30px;
                }

                .userNameOfSecondSuggestion {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  padding: 2px;

                  p {
                    margin-bottom: 3px;
                  }

                  .numberOfCommonFriends {
                    color: #aeaeae;
                    font-size: 12px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                      'Helvetica Neue', sans-serif;
                  }
                }
              }

              button {
                border: none;
                background-color: #fafafa;
                color: #0096f6;
                font-size: 14px;
                cursor: pointer;
              }
            }

            .thirdSuggestion {
              display: flex;
              justify-content: space-between;
              padding-bottom: 10px;

              .wrappingThirdSuggestion {
                display: flex;
                flex-direction: row;

                img {
                  margin: 20px 10px 0 0;
                  border-radius: 30px;
                }

                .userNameOfThirdSuggestion {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 2px;

                  p {
                    margin-bottom: 3px;
                  }

                  .numberOfCommonFriends {
                    color: #aeaeae;
                    font-size: 12px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                      'Helvetica Neue', sans-serif;
                  }
                }
              }

              button {
                border: none;
                background-color: #fafafa;
                color: #0096f6;
                font-size: 14px;
                cursor: pointer;
              }
            }
          }

          footer {
            width: 100%;
            height: 20%;

            ul {
              padding: 0;

              li {
                display: inline-block;
                color: #c7c7c7;
                font-size: 11px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                  'Helvetica Neue', sans-serif;
                list-style: none;
              }

              li::after {
                display: inline-block;
                width: 5px;
                height: 10px;
                margin-left: 3px;
                vertical-align: middle;
                color: #c7c7c7;
                font-size: 6px;
                content: '∙';
              }
            }

            p {
              display: inline-block;
              margin-top: 15px;
              color: #c7c7c7;
              font-size: 11px;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
                sans-serif;
              list-style: none;
            }
          }
        }
      }
    }
  }
}
